#hero {
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-primary-background);
}

#things {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#things article {
    width: 15rem;
}